body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: antiquewhite;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    
}

.gridNum{
    display: flex;
    margin-bottom: 10px
}

root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

.canva{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 500px;
    height: 500px;
    background-color: white;
}

.gridSquares {
    width: auto;
    background-color: white;
}